body{
	margin-left:20vmax;
	margin-right:20vmax;
	margin-top:10vmax;
	height:100%;
	font-family:Montserrat;
}

#image-container {
	flex:2;
}

#nav {
	position:absolute;
	display:flex;
	top:0;
	right:0;
}

img {
	padding:1em;
}

h1 {
	text-align:center;
	clear:both;
}

#flex-container {
	display:flex;
	width:100%;
	flex-direction:row;
}

#list-container {
	flex:1;
	list-style-type:upper-alpha;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

span {
	background-size:contain;
}

a {
	vertical-align: middle;
	text-align: center;
	width:inherit;
}

.list {
	border:none;
	background-color:#fff;
	font-size:1em;
	text-align:center;
	padding:1em;
	cursor:pointer;

}

.list:hover {
	color:#586f9d;
}

.mjx-chtml:focus {
	outline-style:none;

}

.correct {
	background-color:#75fc6e;
}

.incorrect {
	background-color:#fb4c3c;
}

#score {
	position:absolute;
	z-index:20;
	right:0;
	top:0;
	padding:2vmin;
	text-align:right;
	line-height:0.2em;
}

@media only screen and (max-width:980px) {
	#flex-container {
		flex-direction:column;
		align-items:center;
	}
	
	#image-container{
		width:60vw;
		height:100%;
		text-align: center;
		clear:both;
		order:1;
	}
	
	#list-container {
		order:2;
	}
	
	img {
		width:100%;
		height:auto;
	}
	.list {
		line-height:1.5em;
	}
	#score {
		background-color:rgba(255,255,255,0.5);
		padding-top:5vmin;
	}
}

/*additional classes to add via javascript*/

.widthbigger {
	width:40vw;
	height:auto;
}
.widthnotbigger {
	max-width: 40vw;
	height:auto;
}
.heightbigger {
	height:40vh;
	width:auto;
}
.heightnotbigger {
	max-height: 40vh;
	width:auto;
}